.article{
    margin: auto;
    padding: 20px;
    font-size: 30px;
    text-align: justify;
    flex-wrap: wrap;
}

.article__company{
    font-weight:bolder;
    color: darkgreen;
    text-decoration:underline;
}