.html{
    box-sizing: border-box;
}
  *, ::after, ::before{
       box-sizing: inherit;
}
  

.body{
    background-color: rgb(240, 239, 185);
    font-family: "Lato", sans-serif;
    text-align: center;
    line-height: 2;
    max-width: 1200px;
    margin:auto;
}
.picture{
    padding: 30px;
} 
.body--dark{
    background-color: rgb(0, 0, 0);
    font-family: "Lato", sans-serif;
    text-align: center;
    line-height: 2;
    color: aliceblue;
    max-width: 1200px;
    margin:auto;
}
